:root {
  --max-width: 1400px;
  --anim-duration: 0.15s;

  --primary: #148cff;
  --primary-gradient-left: #29a6ff;
  --primary-gradient-right: #0073ff;

  --secondary: rgb(110, 20, 255);
  --secondary-gradient-left: #8929ff;
  --secondary-gradient-right: #5100ff;

  --primary-darker: hsl(209, 100%, 35%);

  --background: hsl(0, 0%, 96%);
  --foreground: hsl(0, 0%, 100%);

  --folder-bg-color: #282828;

  --success-color: rgb(170, 255, 40);
  --warning-color: rgb(255, 150, 0);
  --error-color: rgb(255, 0, 60);

  color: black;
}

.dark {
  --background: hsl(0, 0%, 8%);  
  --foreground: hsl(240, 8%, 10%);

  color: white;
}