:root {
  --background: hsl(0, 0%, 96%);

  --foreground: hsl(0, 0%, 100%);
  --foreground-02: hsl(0, 0%, 100%);

  --bg-input: rgba(0,0,0, 0.2);

  --primary: #148cff;
  --primary-gradient-left: #29a6ff;
  --primary-gradient-right: #0073ff;
  --border-primary: rgba(20, 141, 255, 0.6);

  --border-01: rgba(0,0,0, 0.3);
  --border-02: rgba(0,0,0, 0.2);

  --success-color: rgb(170, 255, 40);
  --warning-color: rgb(255, 150, 0);
  --error-color: rgb(255, 0, 60);

  color: black;
}

.dark {
  --background: hsl(0, 0%, 2%);

  --foreground: hsl(0, 0%, 10%);
  --foreground-02: hsl(0, 0%, 16%);

  --bg-input: rgba(255,255,255, 0.05);

  --border-01: rgba(255,255,255, 0.3);
  --border-02: rgba(255,255,255, 0.2);

  color: white;
}