@import url(./css/reset.css);
@import url(./css/colors.css);
@import url(./css/special.css);
@import url(./css/animations.css);
@import url(./css/sizes.css);
@import "tailwindcss";

body {
  background-color: black; 
}