@import url(./css/reset.css);
@import url(./css/colors.css);
@import url(./css/animations.css);
@import "tailwindcss";

body {
  background-color: black; 
}

.shiny-outline-gradient {
  --highlight-color: rgba(255,255,255, 35%);
  background: linear-gradient(
    -45deg,
    var(--highlight-color) 0%,
    rgba(255,255,255, 10%) 50%,
    var(--highlight-color) 100%
  );
}

.shiny-background-color {
  background-color: #282828;
  background-image: linear-gradient(25deg, transparent, rgba(255,255,255, 5%), transparent);
}

.primary-bg-gradient {
  background-image: linear-gradient(to right, var(--primary-gradient-left), var(--primary-gradient-right));
}

.secondary-bg-gradient {
  background-image: linear-gradient(to right, var(--secondary-gradient-left), var(--secondary-gradient-left));
}

.mixed-bg-gradient {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

.primary-text-gradient {
  background: linear-gradient(90deg, var(--primary-gradient-left), var(--primary-gradient-right));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;

  &.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, var(--primary-gradient-left), var(--primary-gradient-right));
  }
}

.shadow-inset {
  box-shadow: 4px 4px 4px rgba(0,0,0, 0.15) inset;
}